.button {
  margin: 2px 2px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;

  @media (min-width: 900px) {
    margin: 5px 10px;
  }

  /* Transparent styleType*/

  &__transparent {
    -webkit-transition: border 0.3s ease;
    -moz-transition: border 0.3s ease;
    -ms-transition: border 0.3s ease;
    -o-transition: border 0.3s ease;
    transition: border 0.3s ease;

    background-color: transparent;
    border-top: 4px solid transparent; // Border exists here, but transparent, in order to take the space of the border
    border-bottom: 4px solid transparent;
  }

  /* Hover active only on desktop, to avoid the hover state get stuck on cellphone touch-and-move. Effect on cellphone is that the styling disappears when ending the touch */
  &__transparent:hover {
    border-top: 4px solid transparent; // Needs to be transparent. If 'none', the button border will 'flash' when pressing a new button because of on press --> active with border, then when stop press --> not active with none border, and then when press another button the old button border will continue the transition
    border-bottom: 4px solid transparent;

    @media (min-width: 1100px) {
      border-top: 4px solid gray;
      border-bottom: 4px solid gray;
    }
  }

  /* When active (clicked) */
  &__transparent:active {
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
  }

  /* Buy styleType */

  &__buy {
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 10px;

    &:hover {
      @media (min-width: 1100px) {
        background-color: aquamarine;
      }
    }

    &:active {
      background-color: aquamarine;
    }
  }

  /* Retro styleType */

  &__retro {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: lightgray;
    border-left: 3px solid lightgray;
    border-top: 3px solid lightgray;
    border-right: 3px solid slategray;
    border-bottom: 3px solid slategray;

    &:active {
      background-color: darkgray;
      border-left: 3px solid slategray;
      border-top: 3px solid slategray;
      border-right: 3px solid darkgray;
      border-bottom: 3px solid darkgray;
    }
  }

}
