.content-wrapper {

  /* Column styleType*/

  &__column-first-layer {
    //None
  }

  &__column {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media(min-height: 900px) {
      margin-top: calc((100vh - 100px - 800px) * 0.3); // If VH 901, then margin-top = 1px * 0.3
      min-height: auto;
      height: 800px;
      // Smooth responsivity on height because of the &__column min-height: calc(100vh - 100px) of the parent, whereas here on child, height 900 and height 800
    }
  }

  /* Middle styleType */

  &__middle-first-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media(min-height: 580px) {
      margin-top: 15vh; // If %, it will take the % of the width, because of the flex-direction: column
    }
  }

  &__middle {
    max-width: 500px;
    text-align: center;
  }
}
