.navigation {
  width: 100%;
  position: sticky;
  top: 0;

  /* Stpace-between styleType */
  &__space-between {
    display: flex;
    justify-content: space-between;
  }

  /* @media must be last, to override the positions/styleTypes*/
  @media (min-width: 420px) {
    display: block;
    text-align: right; // On small screens, the links/buttons are spread
  }

}
