.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;

  @media (min-width: 420px) {
    display: block;
    text-align: right;
  }

  /* If re-arranging the elements, the ::after will have no effect */
  & section > button > span::after {
    content: 'VHB';

    @media (min-width: 420px) {
      content: 'VemHarBetalat';
    }
  }
}
