.user-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  min-width: 280px;
  max-width: 350px;

  &__item {
    display: flex;
    justify-content: space-between;

  }

  &__username {
    display: inline-block;
    //width: 210px;
  }

  &__date {
    display: inline-block;
    //width: 110px;
  }
}
