.login-content-for-modal {

  input {
    margin: 10px 0;
    padding: 5px 10px;
    font-family: inherit;
    font-size: inherit;
    color: black;
    text-align: center;
    width: 100%;
    border: 2px solid darkgray;

    // Outline property when focus is in _settings-outline.scss
  }

  &__button {
    margin-top: 15px;
  }
}
