.modal {
  display: inline;

  &__container-for-trigger {
    display: inline-block;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    -webkit-animation: darken 0.2s;
    -o-animation: darken 0.2s;
    animation: darken 0.1s;
  }

  &__close-button {
    position: absolute;
    top: 2%;
    right: 2%;

    margin: 0;
    padding: 0;
    border: none;
    background: transparent;

    width: 30px;
    height: 30px;

    @media (min-width: 900px) {
      width: 40px;
      height: 40px;
    }
  }

  &__close-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;

    @media (min-width: 900px) {
      width: 40px;
      height: 40px;

      /* Hover active only on desktop, to avoid the hover state get stuck on cellphone touch-and-move. Effect on cellphone is that the styling disappears when ending the touch */
      &:hover {
        -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(78%) saturate(626%) hue-rotate(104deg) brightness(102%) contrast(106%);
        filter: brightness(0) saturate(100%) invert(82%) sepia(78%) saturate(626%) hue-rotate(104deg) brightness(102%) contrast(106%);
      }
    }

    /* When active (clicked) */
    &:active {
      -webkit-filter: brightness(0) saturate(100%) invert(82%) sepia(78%) saturate(626%) hue-rotate(104deg) brightness(102%) contrast(106%);
      filter: brightness(0) saturate(100%) invert(82%) sepia(78%) saturate(626%) hue-rotate(104deg) brightness(102%) contrast(106%);
    }

  }

  &__card {
    position: absolute;
    min-width: 300px; // Fits iPhone 5 standing
    min-height: 200px; // Fits iPhone 5 laying
    max-width: 80%; // Will still be limited by the content inside __card - if <Paragraph>, then max-width is 350px / 450px
    max-height: 80%;
    overflow: auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    -webkit-animation: slide-up 0.2s;
    -o-animation: slide-up 0.2s;
    animation: slide-up 0.1s;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: white;
    padding: 10px 20px;

    text-align: left;

    @media (min-width: 900px) {
      padding: 30px 60px;
    }

  }


  &--display-block {
    display: block;
  }

  &--display-none {
    display: none;
  }

  @keyframes slide-up {
    from {transform: translate(-50%, -30%);}
    to {transform: translate(-50%, -50%);}
  }

  @keyframes darken {
    from {background: rgba(0, 0, 0, 0.0);}
    to {background: rgba(0, 0, 0, 0.7);}
  }

}
