/* Helpar classes */

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.padding-top-bottom-max-height-650px {
  height: 100%;
  @media (max-height: 650px) {
    padding: 20px 0;
  }
}

.margin-top-15 {
  margin-top: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}
