/* Helpar classes */

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.margin-top-15 {
  margin-top: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.frame {
  width: 100vw;
  // Padding only on sides
  padding: 0 20px;
  position: relative;

  @media (min-height: 650px) {
    // Padding added to top, no padding at bottom
    padding: 20px 20px 0 20px;
  }
}
