html {
  //height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none; // Controls whether the user can select text
  -webkit-tap-highlight-color: transparent; // Sets the color of the highlight that appears over a link while it's being tapped. Transparent if to remove the highlight
}

body {
  font-family: Consolas, monospace;
  font-size: 18px;
  color: red;

  //height: 100%;
  margin: 0;

  @media (min-width: 900px) {
    font-size: 24px;
  }
}

#root {
  //height: 100%;
}

/* Width for repeated text-boxes */

.paragraph,
.instructions {
  max-width: 350px;

  @media(min-width: 900px) {
    max-width: 450px;
  }
}
